
html, body {
  margin: 0;
  padding: 0;
}

.block  {
  height: 1100px;

  & > div {
    width: 100%;
    height: 100%;
  }
}

#top  {
  position: absolute;
  height: 1120px;
  top: 20%;
  width: 100%;
  margin-top: -160px;
  background: url(../assets/img/header.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#therm {
  background: url(../assets/img/section.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#therm-slide {
  background: url(../assets/img/section-2.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#therm-concert {
  background: url(../assets/img/section-3.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#therm-concert {
}

.logo {
  max-width: 200px;
}

header {
  position: absolute;
  width: 100%;

  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.top-container {
  padding: 5% 0 18% 0;
  color: #fff;
  text-align: center;

  .info {
    width: 100%;
    padding: 0 2rem;

    h1 {
      font-size: 8rem;
      font-weight: 400;
      text-transform: uppercase;
      padding: 3rem;
    }
    p {
      font-size: 2rem;
      text-transform: uppercase;

    }
  }

  .scroll-init {

    h2 {
      color: #fff;
      margin: 10rem auto 5rem auto;
      width: 150px;
      font-size: 3rem;
      font-weight: 200;
      border: 3px solid #fff;
      padding: 2rem 0;   
    }
  }



}

// Navigation stretched for pinning
.pin2 {
  width: 100%;
}


// # Therm section content

.toggle-module {
  position: absolute;
  right: 10rem;
  top: 10rem;
  height: auto;
  width: 100px;
  background-color: rgba(0,0,0, 0.4);
  text-align: center;
  border: 2px solid #fff;

  div.module-wrap {
    width: 79%;
    margin: .8rem 1.2rem;
  }

  a {
    display: block;
    padding: 1rem;
    color: #fff;

    &:first-child {
      border-bottom: 1px solid #fff;
    }

  }

}

nav {
  z-index: 3;
}

#therm {
  position: relative;
  z-index: 1;
}

.content-block {
  position: absolute;
  top: 30%;
  width: 350px;
  height: auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0,0,0, 0.4);
  border: 2px solid #fff;


    div.module-wrap {
    width: 90%;
    margin: .8rem auto;
    padding: 1.5rem 0;

    p {
      padding: 0 0 1rem 0
    }
  }

  ul {
  padding: 0;
  margin: 0;
  padding: 2rem 0;
  border-top: 2px solid #fff;

  li {
    list-style: none;
    padding:  .6rem 0;

  }


  }
}

  i {
    margin-right: 1rem;
  }