
#home-slide
{
	margin-top: 70px;
}

.thermal-slider
{
	margin-left: -15px;
}

.thermal-slider img
{
	max-width: none;
}

.beforeafter_slider #toolbox
{
	display: none;
}

.beforeafter_slider {
	padding: 0px;
}

.beforeafter_slider #mask
{
	border-radius: 0px;
}

#textbox_1
{
	top: auto;
	left: auto;
	bottom: 20px !important;
	right: 20px !important;
	height: 134px;
	width: 274px;
	background: url(../images/slider/description.png) top left no-repeat;
}

.thermal-slider img#before, .thermal-slider img#after
{
	width: 970px;
	height: 514px;
}

.slide-text
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	padding: 10px;
	background: rgba(0,0,0,.8);
	z-index: 9999;
	color: #FFF;
	font-weight: normal;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
}


/* Large desktop */
@media (min-width: 1200px) {

	.beforeafter_slider, #mask, .beforeafter_slider li
	{
		width: 1170px !important;
		height: 640px !important;
	}

	.thermal-slider img#before, .thermal-slider img#after
	{
		width: 1170px;
		height: 640px;
	}

	#textbox_1
	{
		bottom: 60px !important;
		right: 60px !important;
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	#home-slide
	{
		margin: 70px auto 0px auto;
	}

	.beforeafter_slider, #mask, .beforeafter_slider li
	{
		width: 480px !important;
		height: 300px !important;
	}

	.thermal-slider img#before, .thermal-slider img#after
	{
		width: 480px;
		height: 300px;
	}

	#textbox_1
	{
		bottom: 60px !important;
		right: 60px !important;
	}

	.slide-text
	{
		font-size: 14px;
	}


}
 
/* Landscape phones and down */
@media (max-width: 480px) {

	.beforeafter_slider, #mask, .beforeafter_slider li
	{
		width: 300px !important;
		height: 200px !important;
	}

	.thermal-slider img#before, .thermal-slider img#after
	{
		width: 300px;
		height: 200px;
	}

	#textbox_1
	{
		bottom: 60px !important;
	}
}