
.bcg,
.bcg-2, .bcg-3 {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#slide-1 {
	.bcg {
		background-image: url("../img/header.png");
	}
}

#slide-2 {
	
}

#slide-3 {
	
}

#slide-4 {
	
}

#slide-5 {
	
}